.navbar-container {
  background-color: blue;
  height: 100px;
  position: relative;
}

.navbar-container img {
  width: 35px;
  height: 35px;
}

.cart-icon {
  color: white;
  float: right;
  padding: 10px;
  margin: 20px;
}

.navbar-container span {
  padding: 2px;
  float: right;
  color: black;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  right: 21px;
  bottom: 59px;
}
